[submodule "pubsub"]
	path = pubsub
	url = git@bitbucket.org:sumraprague/pubsub.git
	branch = master
[submodule "json-api"]
	path = json-api
	url = git@bitbucket.org:sumraprague/json-api.git
	branch = master
