[submodule "web/pubsub"]
	path = web/pubsub
	url = git@bitbucket.org:sumraprague/pubsub.git
[submodule "pubsub"]
	path = pubsub
	url = git@bitbucket.org:sumraprague/pubsub.git
[submodule "json-api"]
	path = json-api
	url = git@bitbucket.org:sumraprague/json-api.git
