.idea/
xdebug.ini
docker-compose.yaml
redis-data
Dockerfile.old
certs

/json-api
/pubsub
/baum

/web/conf/*
/web/node_modules
/web/public/hot
/web/public/storage
/web/storage/*.key
/web/storage/api-docs
/web/vendor
/web/.idea
/web/.env
/web/.env-production
/web/.env.dusk.local
/web/composer.lock
/web/package-lock.json
/web/localhost.crt
/web/localhost.key
/web/rootCA.crt
/web/rootCA.key
/web/rootCA.pem
/web/rootCA.srl
/web/server.crt
/web/server.csr
/web/server.csr.cnf
/web/server.key
/web/v3.ext
/web/socket.sh
/web/sumracrt.pem
/web/sumra.pem
conf/.env
conf/.env_local
conf/mime.types
conf/nginx.conf
conf/old_nginx.con
conf/server_blocks.conf
conf/sumra-pool.conf
